<!DOCTYPE html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ asset("admin/assets/vendor/bootstrap/css/bootstrap.min.css")}}>
    <link href={{ asset("admin/assets/vendor/fonts/circular-std/style.css")}} rel="stylesheet">
    <link rel="stylesheet" href={{ asset("admin/assets/libs/css/style.css")}}>
    <link rel="stylesheet" href={{ asset("admin/assets/vendor/fonts/fontawesome/css/fontawesome-all.css")}}>
    <link rel="stylesheet" href={{ asset("admin/assets/vendor/charts/chartist-bundle/chartist.css")}}>
    <link rel="stylesheet" href={{ asset("admin/assets/vendor/charts/morris-bundle/morris.css")}}>
    <link rel="stylesheet" href={{ asset("admin/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css")}}>
    <link rel="stylesheet" href={{ asset("admin/assets/vendor/charts/c3charts/c3.css")}}>
    <link rel="stylesheet" href={{ asset("admin/assets/vendor/fonts/flag-icon-css/flag-icon.min.css")}}>
    <title>Admin Dashboard</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
       
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href={{ path('admin') }} aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                               
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={{ path("depositlist") }}  aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Deposit Requests</a>
                        
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={{ path('withdrawallist') }}  aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Withdrawal Requests</a>
                              
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href={{ path('investments') }} aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Investments</a>
                               
                            </li>

                             <li class="nav-item ">
                                <a class="nav-link" href={{ path('kycrequest') }} aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Kyc Requests</a>
                               
                            </li>
                             <li class="nav-item ">
                                <a class="nav-link" href={{ path('logout') }} aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Logout</a>
                               
                            </li>
                            
                          
                        
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        {% block main %}
            
        {% endblock %}

    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src={{ asset("admin/assets/vendor/jquery/jquery-3.3.1.min.js")}}></script>
    <!-- bootstap bundle js -->
    <script src={{ asset("admin/assets/vendor/bootstrap/js/bootstrap.bundle.js")}}></script>
    <!-- slimscroll js -->
    <script src={{ asset("admin/assets/vendor/slimscroll/jquery.slimscroll.js")}}></script>
    <!-- main js -->
    <script src={{ asset("admin/assets/libs/js/main-js.js")}}></script>
    <!-- chart chartist js -->
    <script src={{ asset("admin/assets/vendor/charts/chartist-bundle/chartist.min.js")}}></script>
    <!-- sparkline js -->
    <script src={{ asset("admin/assets/vendor/charts/sparkline/jquery.sparkline.js")}}></script>
    <!-- morris js -->
    <script src={{ asset("admin/assets/vendor/charts/morris-bundle/raphael.min.js")}}></script>
    <script src={{ asset("admin/assets/vendor/charts/morris-bundle/morris.js")}}></script>
    <!-- chart c3 js -->
    <script src={{ asset("admin/assets/vendor/charts/c3charts/c3.min.js")}}></script>
    <script src={{ asset("admin/assets/vendor/charts/c3charts/d3-5.4.0.min.js")}}></script>
    <script src={{ asset("admin/assets/vendor/charts/c3charts/C3chartjs.js")}}></script>
    <script src={{ asset("admin/assets/libs/js/dashboard-ecommerce.js")}}></script>
</body>
 
</html>